*{
    margin: 0;
    padding: 0;
}
    /* Navbar */
.user-name h4{
    display: none;
}

.searchuserdetails{
    gap: 15px;
}

/* Home */

/* @media (max-width: 2520px){
    #home::before{
        height: 30%;
    }
} */


#home{
    padding: 3px 100px;
    /* height: 290px; */
}

#home h2{
    text-align: center;
    font-size: 30px;
}

#home p{
    text-align: center;
    font-size: 12px;
    line-height: 15px;
}


/* Top Choices */
#food-container{
    display: grid;
    grid-template-areas: "auto"
                         "auto"
                         "auto"
                         "auto"
                         "auto"
                         "auto";
    gap: 20px;
}

/* Our Spomsor */
#sponsors{
    height: 420px;
    overflow: hidden;
}

.companies{
    gap: 25px;
    position: relative;
    top: 20px;
    padding: 0 10px;
}


/* Login */

/* Footer */
